<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.koshka.origami">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>



<application
        android:allowBackup="true"
        android:icon="@drawable/origami"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".app.OrigamiApp"
        >

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:configChanges="locale"
            android:name=".activity.main.MainActivity"
            android:parentActivityName=".activity.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.login.LoginActivity"
            android:configChanges="locale"
            android:theme="@style/TranslucentThemeNoActionBar"
            android:parentActivityName=".activity.login.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".activity.main.UserProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activity.main.MainActivity"/>

        <activity android:name=".activity.main.OrigamiMapActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>