<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.koshka.origami">

    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".app.OrigamiApp"
        android:allowBackup="true"
        android:icon="@drawable/origami_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:icon">

        <receiver
            android:name=".listeners.ConnectivityChangeReceiver"
            android:label="ConnectivityChangeReveiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.EXTRA_OTHER_NETWORK_INFO" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            tools:replace="android:value"
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <!-- MAIN ACTIVITY -->
        <activity
            android:name=".activites.main.MainActivity"
            android:configChanges="locale"
            android:theme="@style/PurpleThemeNoActionBar"
            android:noHistory="false"
            android:windowSoftInputMode="stateHidden"
            android:launchMode = "singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LOGIN ACTIVITY -->
        <activity
            android:name=".activites.login.LoginActivity"
            android:configChanges="locale"
            android:parentActivityName=".activites.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PurpleThemeNoActionBar" />

        <activity
            android:name=".activites.login.FirstTimeLoginActivity"
            android:parentActivityName=".activites.main.MainActivity"
            android:screenOrientation="portrait" />


        <!-- USER PROFILE ACTIVITY -->
        <activity
            android:name=".activites.profile.UserProfileActivity"
            android:parentActivityName=".activites.main.MainActivity"
            android:theme="@style/PurpleThemeNoActionBar" />

        <!-- ORIGAMI ACTIVITY -->
        <activity
            android:name=".activites.main.OrigamiMapActivity"
            android:theme="@style/PurpleThemeNoActionBar" />

        <activity
            android:name=".activites.origami.CreatePublicOrigamiActivity"
            android:theme="@style/PurpleThemeNoActionBar"
            android:parentActivityName=".activites.main.MainActivity"/>

        <activity
            android:name=".activites.origami.OpenedOrigamiActivity"
            android:theme="@style/PurpleThemeNoActionBar"
            android:parentActivityName=".activites.main.MainActivity"/>


        <!-- FRIENDS ACTIVITY -->

        <activity
            android:name=".activites.friends.AddFriendActivity"
            android:theme="@style/PurpleThemeNoActionBar"
            android:parentActivityName=".activites.main.MainActivity"/>

        <activity
            android:name=".activites.friends.InviteFriendActivity"
            android:theme="@style/PurpleThemeNoActionBar"
            android:parentActivityName=".activites.main.MainActivity"/>

        <activity
            android:name=".activites.friends.FriendProfileActivity"
            android:theme="@style/PurpleThemeNoActionBar"
            android:parentActivityName=".activites.main.MainActivity"/>

        <!-- Settings activities-->
        <activity
            android:name=".activites.profile.settings.about.FAQActivity"
            android:theme="@style/PurpleThemeNoActionBar" />
        <activity
            android:name=".activites.profile.settings.about.LicencesActivity"
            android:theme="@style/PurpleThemeNoActionBar" />
        <activity
            android:name=".activites.profile.settings.about.AboutUsActivity"
            android:theme="@style/PurpleThemeNoActionBar" />
        <activity
            android:name=".activites.profile.settings.about.ToSActivity"
            android:theme="@style/PurpleThemeNoActionBar" />
        <activity
            android:name=".activites.profile.settings.account.ChangeEmailActivity"
            android:theme="@style/PurpleThemeNoActionBar"
            android:parentActivityName=".activites.profile.UserProfileActivity"/>
        <activity
            android:name=".activites.profile.settings.account.ChangePasswordActivity"
            android:theme="@style/PurpleThemeNoActionBar"
            android:parentActivityName=".activites.profile.UserProfileActivity"/>
        <activity
            android:name=".activites.profile.settings.account.DeleteAccountActivity"
            android:theme="@style/PurpleThemeNoActionBar"
            android:parentActivityName=".activites.profile.UserProfileActivity"/>
        <activity
            android:name=".activites.profile.settings.application.UISettingsActivity"
            android:theme="@style/PurpleThemeNoActionBar" />
        <activity
            android:name=".activites.profile.settings.application.NotificationsActivity"
            android:theme="@style/PurpleThemeNoActionBar" />


    </application>

</manifest>